# Local state
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
.env


# Crash & overrides
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Secrets
*.tfvars


# macOS
.DS_Store

